.contact-page {
  .add-contact-btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: em(8px);
    font-size: 15px;
    border-radius: 5px;
    margin-block-start: 1rem;
    background-color: $primary-color-4;
    width: 130px;
    color: $neutral-color-light;
    transition: background-color 0.2s;
    &:hover {
      background-color: $primary-color;
    }
  }
}
